* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --primary: #ffcccc;
  --bg: #ffddcc;
  --card: #febbcc;
  --option: #ffddcc;
}
html {
  scroll-behavior: smooth;
}
/* Index Start */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--option);
  color: #010101;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  border-bottom: 1px solid #ffffff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  text-decoration: none;
}
.navbar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .logo span {
  color: var(--card);
}

.navbar .navbar-menu a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-menu a:hover {
  color: var(--card);
}

.navbar .navbar-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--card);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-menu a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ekstra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-ekstra a:hover {
  color: var(--card);
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--option);
  /* background-size: cover;
  background-position: center; */
  position: relative;
  background-repeat: no-repeat;
  padding-right: 0;
  /* padding-top: 40px; */
  /*padding-bottom: 30px; */
}

.main .content {
  padding-right: 30px;
  padding-left: 20px;
  max-width: 60rem;
  flex: 1;
}

.main .content h1 {
  font-size: 3.5em;
  color: #333;
  line-height: 1, 2;
}

.main .content p {
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
}

.main .image {
  flex: 1;
  position: relative;
  align-self: stretch;
  margin-right: 0;
  padding-right: 0;
  min-height: 400px;
  clip-path: ellipse(100% 50% at 110% 50%);
}

.main .image-main {
  display: block;
  width: 85%;
  height: 85%;
  object-fit: cover;
  object-position: center;
}

/* Index end */

/* Kategori Start */

.kategori h2 {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.kategori p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
  color: #333;
}

.kategori .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 1.5rem;
}

.kategori .row .kategori-card {
  text-align: center;
  padding-bottom: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  width: calc(33.333% - 1.5rem);
  background-color: var(--card);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.kategori .row .kategori-card:hover {
  transform: translateY(-15px);
}

.kategori .row .kategori-card img {
  border-radius: 10%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem auto;
}

.kategori .row .kategori-card .merek-kategori {
  margin: 1rem auto 0.5rem;
  font-weight: 600;
  color: #333;
}

.kategori .row .kategori-card .price {
  font-weight: 500;
  color: #fff;
}

.products {
  padding: 4rem 2rem;
  text-align: center;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.product-card {
  border: 1px solid #febbcc;
  background-color: #ffe4e1;
  color: #010101;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  color: #f4a1b6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #ffcccc;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay:target {
  display: flex;
}

.popup {
  background-color: #FFCCCC;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  width: 350px;
  position: relative;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  text-decoration: none;
  color: #FEBBCC;
}

.close-icon:hover {
  color: #cc7188;
}

.login-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: #f06487;
  color: rgb(214, 3, 3);
  text-decoration: none;
  border-radius: 8px;
}

.login-btn:hover {
  background: #FFCCCC;
}
